<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат бот Shapka-Ushanka</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div class="full_screen">
        <div class="logo">
            <a href="https://www.shapka-ushanka.ru/" target="_blank"><img src="static/images/logo.png" alt="logo"></a>
        </div>
        <div id="chat"></div>
        <div class="lower">
            <div id="input-container" class="hidden">
                <input type="text" id="input" placeholder="Введите ваш запрос">
                <button onclick="sendMessage()">Отправить</button>
            </div>
            <div id="phone-input-container" class="hidden">
                <!-- <input type="text" id="phone-input" placeholder="Введите ваш номер телефона">
                <button class="send-phone-number-button" onclick="sendPhoneNumber()">Отправить</button> -->
                <label for="phone-input">Введите номер телефона:</label>
                <input type="tel" id="phone-input" placeholder="8 495 777 22 88" maxlength="15"
                    oninput="formatPhoneNumber(this)">
                <button class="send-phone-number-button" onclick="sendPhoneNumber()">Отправить</button>
            </div>
            <div class="cart">
                <button onclick="viewCart()">Посмотреть корзину</button>
                <button onclick="checkout()">Оформить заказ</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
    <script src="/static/chat.js"></script>
</body>

</html>